In [1]:
from pandas import Series,DataFrame

In [2]:
import numpy as np

In [3]:
frame=DataFrame(np.random.randn(4,3),columns=list('bde'),index=['utah','ohio','texas','oregn'])

In [5]:
np.abs(frame)

              b         d         e
utah   0.906383  0.985462  0.000446
ohio   1.390706  2.272343  0.581250
texas  1.482965  0.877187  0.352893
oregn  0.744890  1.747018  1.264835

In [7]:
f = lambda x: x.max()-x.min()

In [8]:
frame.apply(f)

b    2.873671
d    4.019361
e    1.265281
dtype: float64

In [9]:
frame.apply(f,axis=1)

utah     1.891846
ohio     2.853594
texas    1.130072
oregn    1.002128
dtype: float64

In [17]:
def f(x):
    return Series([x.min(),x.max()],index=['min','max'])
frame.apply(f)

            b         d         e
min -1.390706 -2.272343 -0.000446
max  1.482965  1.747018  1.264835

In [19]:
format=lambda x:'%.2f'%x
frame.applymap(format)

           b      d      e
utah    0.91  -0.99  -0.00
ohio   -1.39  -2.27   0.58
texas   1.48   0.88   0.35
oregn   0.74   1.75   1.26

In [21]:
frame

              b         d         e
utah   0.906383 -0.985462 -0.000446
ohio  -1.390706 -2.272343  0.581250
texas  1.482965  0.877187  0.352893
oregn  0.744890  1.747018  1.264835

In [20]:
frame['e'].map(format)

utah     -0.00
ohio      0.58
texas     0.35
oregn     1.26
Name: e, dtype: object

In [22]:
obj=Series(range(4),index=['d','a','b','c'])

In [23]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [25]:
frame=DataFrame(np.arange(8).reshape((2,4)),index=['three','one'],columns=['d','a','b','c'])
frame.sort_index(axis=1,ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [26]:
obj=Series([4,7,-3,2])

In [28]:
obj.order

AttributeError: 'Series' object has no attribute 'order'

In [29]:
obj=Series([4,np.nan,7,np.nan,-3,2])

In [30]:
obj.order

AttributeError: 'Series' object has no attribute 'order'

In [31]:
frame=DataFrame({'b':[4,7,-3,2],'a':[0,1,0,1]})
frame.sort_index(by='b')

E:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

In [32]:
obj=Series([7,-5,7,4,2,0,4])

In [33]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [34]:
obj.rank(ascending=False,method='max')

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64