In [1]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np

In [9]:
pop={'Nevada':{2001:2.4, 2002:2.9},'Ohio':{2000:1.5,2001:1.7,2002:3.6}}
#DataFrame(pop, index=[2001,2002,2003])

In [10]:
pop

{'Nevada': {2001: 2.4, 2002: 2.9}, 'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [24]:
DataFrame(pop,columns=['Nevada','Ohio','asas'])

      Nevada  Ohio asas
2000     NaN   1.5  NaN
2001     2.4   1.7  NaN
2002     2.9   3.6  NaN

In [20]:
frame3=DataFrame(pop)
pdata={'Ohio':frame3['Ohio'][:-1],'Nevada':frame3['Nevada'][:2]}
DataFrame(pdata)

      Ohio  Nevada
2000   1.5     NaN
2001   1.7     2.4

In [21]:
pip list

The following command must be run outside of the IPython shell:

    $ pip list

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [32]:
points=np.arange(-5,5,1)

In [33]:
xs,ys=np.meshgrid(points,points)

In [34]:
xs

array([[-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
       [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
       [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
       [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
       [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
       [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
       [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
       [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
       [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
       [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4]])

In [35]:
ys

array([[-5, -5, -5, -5, -5, -5, -5, -5, -5, -5],
       [-4, -4, -4, -4, -4, -4, -4, -4, -4, -4],
       [-3, -3, -3, -3, -3, -3, -3, -3, -3, -3],
       [-2, -2, -2, -2, -2, -2, -2, -2, -2, -2],
       [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1],
       [ 2,  2,  2,  2,  2,  2,  2,  2,  2,  2],
       [ 3,  3,  3,  3,  3,  3,  3,  3,  3,  3],
       [ 4,  4,  4,  4,  4,  4,  4,  4,  4,  4]])

In [36]:
zs=np.meshgrid(points,points)

In [37]:
zs

[array([[-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
        [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
        [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
        [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
        [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
        [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
        [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
        [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
        [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
        [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4]]),
 array([[-5, -5, -5, -5, -5, -5, -5, -5, -5, -5],
        [-4, -4, -4, -4, -4, -4, -4, -4, -4, -4],
        [-3, -3, -3, -3, -3, -3, -3, -3, -3, -3],
        [-2, -2, -2, -2, -2, -2, -2, -2, -2, -2],
        [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
        [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1],
        [ 2,  2,  2,  2,  2,  2,  2,  2,  2,  2],
        [ 3,  3,  3,  3,  3,  3,  3,  3,  3,  3],
        [ 4,  4,  4,  4,  4,  4,  4,  4,  4,  4]])]